version: '3'
services:

    activemq:
        image: vromero/activemq-artemis:2.14.0-alpine
        container_name: activemq
        ports:
            - "8086:61616"
            - "8087:8161"
        environment:
            ARTEMIS_USERNAME: admin
            ARTEMIS_PASSWORD: admin
        volumes:
            - ./node0/etc/:/var/lib/artemis/etc
            - ./node0/tmp/:/var/lib/artemis/tmp

    web-scraping-service:
        restart: always
        container_name: service
        build:
            context: ./web-scraping-service
            dockerfile: Dockerfile
        ports:
            - "8082:8082"
        depends_on:
            - activemq
            
    web-scraping-backend:
        restart: always
        container_name: backend
        build:
            context: ./web-scraping-backend
            dockerfile: Dockerfile
        ports:
            - "8081:8081"
        expose:
            - "8081"
        depends_on:
            - activemq
            - web-scraping-service
            
    nginx:    
        restart: always
        image: nginx:latest
        container_name: nginx
        ports:
            - "8008:80"           
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./web-scraping-frontend/dist/web-scraping-frontend:/usr/share/nginx/html
        depends_on:
            - web-scraping-backend
            